/* this is the page-specific stylesheet for index.html */

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 1fr;
    justify-items: center;
    align-items: center;
    background-color: #fff7d6;
}
main {
    width: 100%;
}
#hero-img {
    width: 100%;
    display: flex;
}
#quotes {
    padding: 100px 0;
}
#quotes p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(92, 92, 92);
}
